@charset "UTF-8";
/* CSS Document */
body {
	background-color: whitesmoke; 
	background-size: cover;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}
h1, h2, h3 {
    margin: 0;
}

#container {
    width: 100%;
    background-color: whitesmoke;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
	flex-flow: wrap
}
.logo{
    position: absolute;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: left;
	left: 10%;
    top: 10px;
}

.socials {
    display: flex;
    position: absolute;
    right: 0px;
    padding: 5px;
    color: black;
    top: 40px;
    align-items: center;
}

i {
    padding: 5px;
    color: white;
}


.header {
    background-color: whitesmoke;
    width: 105%;
    height: 20%;
    margin-right: auto;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	padding-top: 15px;
	color: black;
	text-align: center;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.nav {
    width: 100%;
    background-color: whitesmoke;
    line-height: 35px;
	padding-left: 30%;
    float: left;   
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: thin;
	z-index: 99;
	flex-flow: row;
	flex: wrap;
}

.nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
	
}

.nav ul {
    float: left;
    list-style: none;
    position: relative;  
	z-index: 99;
}
 
.nav ul li {
    float: left;
    list-style: none;
    position: relative; 
}

.nav ul li a {
    display: block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: black;
    font-size: 14px;
    padding: 0px 17px;
	line-height: 10px;
    text-decoration: none;
	text-align: justify;
}

.nav ul li a:hover {
	background-color: transparent;
	border-radius: 10px 10px 10px 10px;
	color: #56A984;
	border-bottom: thick;
	border-bottom-color: #56A084;
	border-bottom-width: inherit;
	font-weight: bold;
}

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: whitesmoke;
    padding-left: 6px;
    border-radius: 0px 0px 8px 8px;  
}

.nav ul li ul li {
    padding: 8px 2px;
}

.nav ul li ul li a {
    color: black;
}

.nav ul li ul li a:hover {
    color: #56A084;
	font-weight: bold;
}

.carousel {
    position: relative;
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
	height: 20%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

.box {
	align-content: center;
	background-image: url("../backgroundbox.jpg");
	padding: 6%;
	border-bottom-style: solid;
	border-color: black;
	border-width: thin;
}

.box > h2 {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;
}

.box > p2 {
	text-align: justify;
	padding-left: 100px;
	padding-right: 100px;
	margin-right: 50px;
	margin-left: 50px;
	text-indent: none;
}

.divider {
	background-color: transparent;
	color: black;
	width: 50%;
	padding-top: 50px;
	padding-left: 10%;
	padding-bottom: 5px;
	margin-left: inherit;
}

.divider > h2 {
	text-decoration-line: underline;
	font-size: 16px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
/* containers for featured flavors */
.flex-container {
	display: flex;
	background-color: transparent;
	justify-content: center;
	clear: both;
	width: 60%;
	height: 20%;
	padding-left: 20%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-variant-caps: all-petite-caps;
	font-weight: bold;
}

.flex-container > div {
	background-position: 45% 55%;
	color: black;
	width: 40%;
	height: 30%;
	margin: 5px;
	padding: 10px 10px 10px 10px;
	object-fit: contain;
}

.flex-container > div1 {
	opacity: 0.5;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

.flex-container > div1:hover {
	opacity: 1.0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-width: thin;
	border-color: #005634;
	border-style: solid;
	color: #56A084;
}

.flex-container > div2 {
	opacity: 0.5;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-size: contain;
}

.flex-container > div2:hover {
	opacity: 1.0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-width: thin;
	border-color: #005634;
	border-style: solid;
	color: #56A084;
}

.flex-container > div3 {
	opacity: 0.5;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

.flex-container > div3:hover {
	opacity: 1.0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-width: thin;
	border-color: #005634;
	border-style: solid;
	color: #56A084;
}

.flex-container > div4 {
	opacity: 0.5;
	text-align: center;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 2px;
	padding-left: 2px;
	width: 100px;
	height: 20px;
	border-width: thin;
	border-color: black;
	border-style: solid;
	flex: none;
}

.flex-container > div4:hover {
opacity: 1.0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-width: thin;
	border-color: #005634;
	border-style: solid;
	background-color: #cc3300;
	color: whitesmoke;
	padding-bottom: 10px;
	width: 100px;
	padding-left: 2px;
	padding-right: 2px;
	flex:none;
}
/* featured flavors end */

.review {
	margin-top: 100px;
	padding: 10px;
	border-width: thin;
	border-style: solid;
	border-color: black;
	border-radius: 10px 10px 10px 10px;
	width: 40%;
	margin-left: 250px;
	height: 20%;
}

.video {
	margin-top: 100px;
	text-align: center;
	column-count: 2;
	column-width: auto;
	background-color: #cc3300;
	color: white;
	padding-bottom: 30px;
	padding-top: 10px;
}

.video > h2 {
	padding-top: 30px;
}

.video > p {
	float: left;
	text-align: justify;
	padding-left: 20px;
}

.video > iframe {
	padding-top: 20px;
	float: right;
	padding-right: 20px;
}

.footer {
	background-color: #cc3300;
	width: 100%;
	height: 3px;
	padding: 50px;
	padding-left: 42%;
	color: white;
}

.address {
	color: white;
	float: left;
}
